{
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "jquery": true,
        "drupal": true
    },
    "extends": ["eslint:recommended", "prettier"],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "allowImportExportEverywhere": true
    },
    "rules": {
        "no-unused-vars": 2
    }
}